.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    /* clip-path: polygon(0 0, 100% 0, 100% 80%, 100% 100%, 75% 71%, 49% 99%, 28% 79%, 0 100%, 0 81%); */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 91% 100%, 76% 57%, 58% 100%, 47% 56%, 33% 99%, 17% 54%, 0 100%); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 86% 83%, 70% 100%, 55% 81%, 41% 99%, 28% 81%, 17% 100%, 0 100%);
z-index: 1;
    position: fixed;
width: 100%;
height: 100px;

}
.locationlogo{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    /* background-color: #7e7a7a; */
}
   
.navitems{
    display: flex;
    justify-content: space-between;
    color: white;
}
.navitemselement{
    margin: 0px 5px;
    border: 2px solid rgb(236, 217, 109);
    border-radius: 10px;
    font-size: 10px;
}
.navitemselement:hover{
    cursor: pointer;
    background-color: white;
    color: goldenrod;
    font-weight: bolder;
}
.logo{
    height: 100px;
    width: 100px; 
    margin: 0px;
    /* font-size: 50px; */
}
.logodiv{
    margin-top: -7px;
}
.fa-cart-shopping{
    font-size: 25px;
    color: goldenrod;
}
.fa-cart-shopping:hover{
    color: white;
    cursor: pointer;
}


/* ===========================backgroundimg=============== */
.backgroundimg{
    opacity: 0.8;
    height: 750px !important;
    z-index: -1;
    width: 100%;
    /* animation: mymove 15s  infinite; */
}
.logomainpage{
    border-radius: 50%;
    margin: 0px;
    height: 350px;
    width: 350px;
}

.backgroundimgcontainer{
    position: relative;
}
.logoandheading{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -350px;
}
.mainpageheading{
    font-size: 65px;
    text-align: center;
    font-weight: bolder;
    color: antiquewhite;
}
.mainpageheading:hover{
    color: goldenrod;
}


body {
    background-image: linear-gradient(to right, rgb(51, 50, 50) , rgb(68, 68, 68));
  }


.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    border: 5px solid rgb(236, 120, 12) !important;
    margin: 5px 0px ;
    background-color: black !important;
    color: white !important;
}
    /* width: 26rem !important; */
    /* box-shadow: ; */

.card:hover{
    box-shadow: 5px 1px 21px 15px #888888;
    background-color: rgb(68, 61, 61) !important;
    color: rgb(43, 43, 240) !important;
    font-weight: bolder;
}
.offer{
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    color: black;
    /* margin-left: 20px; */
    color:  rgb(224, 31, 31);;
}
.offer:hover{
    color: goldenrod;
}
.card-title{
    font-size: 48px;
    color: goldenrod !important;
}
.card-text{
    font-size: 20px;
    text-align: center;
}
.save{
    color: rgb(8, 221, 8);
    font-weight: bolder;
    font-size: 30px;
}
.order{
    color: rgb(8, 221, 8);
    font-weight: bolder;
    font-size: 30px;
}
.btn{
    font-size: 30px !important;
    border: 3px solid black !important;
    color: rgb(245, 229, 4)!important;
    font-weight: bolder !important;
}


/* =================menu =================== */

.menupics{
    border-radius: 50%;
    border: 3px solid goldenrod;
}

/* ============footer=========== */

.logo-fb{
    font-size: 35px;
    color: rgb(15, 27, 190);
    cursor: pointer;
    margin: 3px;
  }
  .logo-red{
    font-size: 35px;
    color: rgb(228, 6, 17);
    cursor: pointer;
    margin: 3px;
  }
  .logo-email{
    font-size: 35px;
    color: rgb(160, 82, 86);
    cursor: pointer;
    margin: 3px;
  }
  
  .logo-fb:hover{
    color: white;
    background-color:  rgb(15, 27, 190);
  }
  .logo-red:hover{
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color:rgb(228, 6, 17);
    cursor: pointer;
  }
  .logo-email:hover{
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color:rgb(160, 82, 86) ;
    cursor: pointer;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7e7a7a;
  }
 .navlinks{
    text-decoration: none;
    color: white;
    font-weight: bolder;
 }
 .navlinks:hover{
    color: goldenrod;
    background-color: white;
 }

  .footerhead{
    color: goldenrod;
    font-size: 25px;
    font-weight: bolder;
  }
  .footerpara{
    font-size: 17px;
    font-weight: bolder;
    color: rgb(255, 0, 0);
    text-align: center;
  }
  .adress{
    color: rgb(231, 4, 4);
  }

  @media(min-width:768px){
    .navcontainer{
        height: 150px;
    }
    .logo{
        height: 156px;
        width: 156px;
    }
    .navitemselement{
        font-size: 22px;
    }
    .fa-cart-shopping{
        font-size: 40px;
    }
    .logoandheading{
        top: -294px;
    }
    .offer{
        margin-bottom: 0px;
        font-size: 80px;
      }
      .footerhead{
        font-size: 50px;
      }
.footerpara{
    font-size: 35px;
}
.logo-fb{
    font-size: 55px;
   
  }
  .logo-red{
    font-size: 55px;
  }
  .logo-email{
    font-size: 55px;
    
  }
  .footerbackground{
    background-color: #7e7a7a;
  }
  .card-text{
    font-size: 30px;
    text-align: center;
}
}
  





  @media(min-width:1024px){

    .card{
        width: 30rem !important;
    }
    .card-text{
        font-size: 30px;
        text-align: center;
    }
    .navitemselement{
        font-size: 35px;
        background-color: goldenrod;
    }


    @media(min-width:1024px){
        .navcontainer{
            height: 178px;
        }
        .logo{
            height: 189px;
    width: 229px;
        }
       
        .fa-cart-shopping{
            font-size: 73px;
        }
        .logoandheading{
top: -227px;
        }
    }
    .backgroundimg{
        height: 800px;
    }
  }





  @media(min-width:1250px){
    .card{
        width: 38rem !important;
    }
    .offer{
       font-size: 110px; 
    }
    .fa-cart-shopping{
        color: goldenrod;
    }
  }


  /* ==============location logo */
  .scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
	        animation: scale-up-ver-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-13 17:17:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  